body { margin: 0; background-color: #1E2E42; font-family: "Lucida Grande",Tahoma,Verdana Arial,sans-serif; font-size: 90%; }

h1 { color:#77C244; font-size:1.8em; margin-bottom:0.6em; }
h2 { color:#ED890E;  }
h3 { color:#113C32;  }
h4 { color:#113C32;  }

#topline { background-color: #1E2E42; color: #F1F8DB; width: 950px; margin: 0px auto; padding: 8px; overflow: hidden; }
	#topline ul#quicklinks { display: inline; float: left; }
	#topline ul#languages { display: inline; float: right; }
		#topline ul li { padding: 8px 0px; display: inline; }
		#topline ul li a { color: #F1F8DB; text-decoration: none; }
		#topline ul li a:hover { color: #EE9323; }

.container { width:950px; margin:0px auto; position:relative; }
.cleaner { clear:both; visibility:hidden; margin:0; padding:0; border:0; height:0; }

#header {
	padding:0px 0px;
	background:#77c244 url(../img/header.png) center top repeat-x;
}
	#header .container {
		padding:20px 0px;
	}
	#logo {
		margin:0px 20px;
		padding:8px;
	}
	#menu {
		position:absolute;
		bottom:0px;
		right:10px;
	}
		#menu ul {
			list-style-type:none;
			float:left;
		}
		#menu ul li {
			float:left;
		}
		#menu ul li a, #menu ul li a:visited {
			display:block;
			padding:10px 20px;
			text-decoration:none;
			color:#3F5C0B;
			text-shadow:0.1em 0.1em 1px #76B714;
			text-transform:uppercase;
			font-size:12px;
			background:#83C018 url(../img/overlay2.png) repeat-x;
			font-weight:bold;
			border:1px solid #76B714;
			border-right:none;
			border-bottom:none;
		}
		#menu ul li.first a {
			-moz-border-radius: 6px 0px 0px 0px;
			border-radius: 6px 0px 0px 0px;
		}
		#menu ul li.last a {
			border-right:1px solid #76B714;
			-moz-border-radius:0px 6px 0px 0px;
			border-radius: 0px 6px 0px 0px;
		}
		#menu ul li.selected a {
			background:#FFF;
			color:#EE9323;
			text-shadow:none;
		}
		#menu ul li a:hover {
			color: #2C360B;
			background: #76B714 url(../img/overlay2.png) repeat-x;
		}
		#menu ul li a.selected {
			background-color: #FFF;
			color: #000;
			-moz-box-shadow: none;
			text-shadow: none;
		}

#content {
	background: #F1F8DB url(../img/content.png) repeat-x center top;
}
	#content .wrapper {
		background: transparent url(../img/wrapper.png) no-repeat center top;
		min-height: 390px;
		padding-top: 1em;
	}
	#content .container {
		background: #FFF;
		padding: 0px 13px 13px 13px;
		width: 924px;
	}

#rotator {
	margin: 20px 0px;
	background: #FBFFEF;
	border: 1px solid #F1F8DB;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	#rotator #pager {
		float: left;
		background: #77C244;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}
	#rotator #pager a {
		display: block;
		padding-left: 42px;
		padding-right: 20px;
		line-height: 37px;
		background: url(../img/icons/tick_light.png) no-repeat 6px center;
		text-decoration: none;
		color: #3F5C0B;
	}
	#rotator #pager a.first {
		-moz-border-radius-topleft: 5px;
	}
	#rotator #pager a.last {
		-moz-border-radius-bottomleft: 5px;
	}
	#rotator #pager .active a {
		opacity: 1;
		background: #F1F8DB url(../img/icons/tick.png) no-repeat 6px center;
		color: #3F5C0B;
	}
	#rotator #slides {
		float: left;
		width: 680px;
	}
	#rotator #slides h4 {
		padding: 10px;
		color: #2C360B;
		text-shadow: 0.1em 0.1em 1px #F1F8DB;
		font-size: 18px;
	}
	#rotator #slides p {
		padding:2px 10px;
		color:#2C360B;
	}
	#rotator #slides img {
		float:right; margin:10px;
	}

#downloadKohana {
	padding:10px;
	margin:10px 0px;
	background:#F1F8DB;
	-moz-border-radius:5px;
}
	#dwlKo2, #dwlKo3 {
		float:left;
		display:block;
		width:440px;
		position:relative;
	}
	#dwlKo2 {
		border-right:1px solid #ED890E;
		padding-right:10px;
	}
	#dwlKo3 {
		padding-left:10px;
	}
	#downloadKohana h2 {
		font-size:16px;
	}
	#downloadKohana ul {
		margin:4px 0px;
	}
	#downloadKohana li {
		background:url(../img/icons/16/bullet_orange.png) no-repeat left center;
		padding-left:20px;
		color:#000;
	}
	#downloadKohana .downloadButton {
	}
	#downloadKohana .downloadButton a {
		display:block;
		padding:10px;
		text-decoration:none;
		color:#3F5C0B;
		text-shadow:0.1em 0.1em 1px #76B714;
		text-transform:uppercase;
		font-size:18px;
		background:#83C018 url(../img/overlay2.png) repeat-x;
		font-weight:bold;
		border:1px solid #76B714;
		-moz-border-radius:5px;
		margin:20px 10px 10px;
	}
	#downloadKohana .downloadButton a img {
		vertical-align:-2px;
	}
	#downloadKohana .downloadButton a:hover {
		color:#2C360B;
		background:#76B714 url(../img/overlay2.png) repeat-x;
	}

#footer {
	background:#00262F;
	color:#405C63;
	font-size:0.9em;
	padding:1em 0em 1em 1em;
}
	#footer a {
		color:#405C63;
	}
	#footer .copyright {
		text-shadow:0.1em 0.1em 1px #00262F;
		font-size:10px;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	#footer .copyright p {
		line-height:1.6em;
	}
