html { background: #00262f; font-size: 70%; }
body { margin: 0; }
ol ol, ol ul, ul ul, ul ol { margin-bottom: 0; }
a img { border: 0; }

h1 small,
h2 small,
h3 small,
h4 small { font-weight: normal; font-size: 0.7em; }
h5 small,
h6 small { font-weight: normal; font-size: 0.8em; }

h1 { color: #77C244; margin: 0.4em 0 0.5em; }
h2 { color: #ED890E; margin: 0.4em 0 0.5em; }
h3 { color: #113C32; margin: 0.4em 0 0.5em; }
h4 { color: #113C32; margin: 0.4em 0 0.5em; }

.caps { text-transform: uppercase; font-size: 0.8em; font-weight: normal; }
.warning { text-transform: lowercase; font-variant: small-caps; font-weight: bold; color: #911; }

.addborder { border: 1px solid #EEEEEE; padding: 2px; }

.right { float: right; margin-left: 10px; }
.left { float: left; margin-right: 10px; }

#header,
#content,
#footer { float: left; clear: both; width: 100%; }

#header { padding: 20spx 0 1em; background: #77c244 url(../img/header.png) center top repeat-x; }
	#logo { display: block; float: left; margin-top: 10px; padding: 8px; }
	#menu { float: right; margin-top: 50px; background: transparent url(../img/menu.png) right center no-repeat; }
	#menu ul { float: left; margin: 0; padding: 0 0.5em 0 0; background: transparent url(../img/menu_endcap.png) left center no-repeat; }
		#menu li { display: block; float: left; margin: 0; padding: 0; border-right: solid 1px #10382f; border-left: solid 1px #134237; }
		#menu li.first { padding-left: 0.5em; border-left: 0; }
		#menu li.last { border-right: 0; }
			#menu li a { display: block; height: 32px; line-height: 32px; vertical-align: middle; padding: 0 0.5em; letter-spacing: 0.13em; text-decoration: none; /*font-weight: bold;*/ color: #efefef; text-shadow: #113c32 0.1em 0.1em 1px; }
			#menu li a:hover { color: #fff; text-shadow: #111 0.1em 0.1em 1px; background-color: #57766F; }

#content { background: #f1f8db url(../img/content.png) center top repeat-x; }
	#content .wrapper { min-height: 390px; padding-top: 1em; background: transparent url(../img/wrapper.png) center top no-repeat; }
	#content .container { background-color: #FCFDF7; }
	#content hr { margin-top: 10px; background-color: #F1F8DB; }
	#content dl.inactive-team { font-size: 0.9em; }
	#content p.intro { padding: 1em 20px; padding-left: 20px; margin: 0 -20px; font-size: 1.2em; }
	#content a { color: #004352; }
	#content a:hover { color: #00758f; }
	#content a:active { text-decoration: none; }
	#content .built img { border: solid 1px #10382f; }
	#content .showcase div { height: 130px; overflow: hidden; }
	#content .showcase h4 { border-bottom: 1px solid #F1F8DB; background: transparent url(../img/icons/check.png) no-repeat scroll 0 0; line-height: 16px; padding-left:20px; }
	#content .downloads { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -opera-border-radius: 8px; -khtml-border-radius: 8px; background-color: #F1F8DB; padding: 8px;}
	#content .downloads ul { list-style: none; margin: 0pt; padding: 0pt; }
			#content .downloads h4 { margin: 0pt; }
			#content .downloads .border-right { border-right: 1px solid rgba(255,124,0,0.4); }
			#content .downloads a.button { margin: 6px; color: #F78900; font-size: 1.2em; line-height: 35px; background:url(../img/download_button.png) no-repeat 0px 0px; display: block; width: 100px; height: 20px; padding: 15px 20px 10px 45px; text-decoration: none;}
			#content .downloads a.button:hover { background:url(../img/download_button.png) no-repeat 0px -45px; }

#sidebar { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -opera-border-radius:8px; -khtml-border-radius:8px; background-color: #77c244; padding: 8px;}
	#content .news ul { list-style: none; margin: 0pt; padding: 0pt; }
	#content .news #rss_feed { background: transparent url(../img/icons/rss_feed.png) no-repeat; padding-left: 20px; }
	#content .news #email_sub { background: transparent url(../img/icons/rss_feed.png) no-repeat; padding-left: 20px; }
	#content .news #follow_twitter { background: transparent url(../img/icons/rss_feed.png) no-repeat; padding-left: 20px; }

#testimonials { height: 100px; margin: 15px auto 0; width: 550px; }
#testimonials strong { font-size: 4em; color: #77C244; font-weight: bold; line-height: 45px; }
#testimonials div#testimonial { float: right; width: 520px; font-size: 18px; }
#testimonials div#testimonial div.who { font-size: 14px; }
#testimonials #testimonial div.who a { color:#999999; }

#download {}
	#download #starting_download { margin: 10px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -opera-border-radius: 8px; -khtml-border-radius: 8px; background-color: #FFE79F; padding: 8px; font-size: 1.2em; }
	#download .version { margin: 10px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -opera-border-radius: 8px; -khtml-border-radius: 8px; background-color: #F1F8DB; padding: 10px;}
		#download .version .right { margin-left: 80px; }
		#download .version h1 { border-bottom: 1px solid rgba(255,124,0,0.4); font-size: 1.1em; }
		#download .version h2 { font-size: 1.3em; }
		#download .version .archive h2 { color: #666666; font-size: 1.1em; }
		#download .version .development h2 { color: #00262F; font-size: 1.1em;}


#footer { padding: 1em 0; background: #00262f; color: #eee; text-shadow: #00262f 0.1em 0.1em 1px; font-size: 0.9em; }
	#footer a { color: #809397; }
	#footer .copyright { color: #405c63; }
		#footer .copyright a { color: #405c63; text-decoration: underline; }
		#footer .copyright a.logo { display: block; width: 100px; height: 24px; background: transparent url(../img/kohana_dark.png) 0 0 no-repeat; text-indent: -3000em; }
	#footer .feed h6 { margin-left: -14px; padding-left: 14px; letter-spacing: 0.11em; background: transparent url(../img/feed.png) left center no-repeat; }
	#footer .feed ol { margin: 0; padding: 0; list-style: none; }
		#footer .feed li { margin: 0; padding: 0; }

#rotator { position: relative; }
	#rotator ul { padding: 0; float: left; margin: 0; width: 230px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -opera-border-radius: 8px; -khtml-border-radius: 8px; background-color: #EFEFEF; }
		#rotator li { height: 34px; list-style: none; padding: 0; margin: 0; }
			#rotator li h3 { height: 34px; margin: 0.4em; font-size: 1.2em; background: transparent url(../img/icons/check2.png) no-repeat scroll 0 0; padding-left: 30px; }
				#rotator li h3 a { color: #24564A; text-decoration: none; }
				#rotator li h3.active {	background:transparent url(../img/icons/check2_active.png) no-repeat scroll 0 0; font-size:1.2em; text-decoration: underline; }
					#rotator li h3.active a { color: #113C32; }
			#rotator li div.content { padding: 0px 20px 20px 20px; display: none; }
			#rotator li div.active { display: block; }
	#rotator .content { position: absolute; left: 0; top: 0; margin-left: 230px; margin-top: 20px; padding: 8px; }
